/*** 768 **/
@media screen and (max-width:768px) {

  .header__bottom {
    margin-top: 21px;
  }

  .kama_breadcrumbs{
    padding-left:0px;
  }

  .nav-menu,
  .page__leftimg {
    display: none;
  }

  .header__address {
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    justify-content: center;
  }

  .header__address ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
  }

  .header__address span,
  .header__phone a {
    display: none;
  }

  .header__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .header__mail {
    padding: 0;
  }


  .header__text_muted {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }

  .header__bottom {
    display: none;
  }

  .header__companyname {
    padding: 0;
  }

  .header__address {
    gap: 10px;
  }

  .header__phone::before {
    top: 2px;
    left: 15px;
  }

  .header__phone {
    margin: 0;
  }


  .icon__search {
    padding: 0 !important;
  }

  .about-us,
  .mission,
  .page {
    grid-template-columns: 1fr;
  }

  .about-us,
  .mission {
    padding: 3px 8px 95px 0px;
  }

  .footer-content {
    padding: 0 !important;
  }

  .footer__info {
    grid-template-columns: 1fr;
  }

  .footer__address {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .contacts__page {
    grid-template-columns: 1fr;
  }

  .page__content{
     width:90% !important;
    margin-left:0px;
    padding-left:0px;
  }

  .contacts__page .page__content {
    margin: 0;
  }

  #rukovodstvo  .page__content{
    padding-left:32px;
  }

  .container_grid {
    gap: 2%;
  }

  .page {
    padding-left: 20px;
    margin-top: 60px;
  }

.page__news{
      grid-template-columns: 4fr 1fr;
}

.page__news img{
  object-fit: contain;
}

  .__withsub:after {
color: #474858;
    content: '';
   
  }

  
  .blockquote{
    padding: 100px !important;
    width:100% !important;
  }


  .about-us__title,
  .about-us__text,
  .mission__title,
  .mission__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .company {
    padding-top: 20px;
  }


  .page__documentslist ul{
    padding-left:0px;
  }


  .directions__panes {
    margin: 0px auto;
    padding-top: 50px;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: unset;
  }

  .directions__pane {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 204px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    text-decoration: none;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in;
    justify-content: center;
    align-items: center;
  }


  .left__column{
    align-items: center;
  }


  .main {
    overflow: hidden;
  }

  .main-banner {
    grid-template-columns: unset !important;
  }


  .main-banner__text {
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff;
    margin: 0;
    width: 50%;
    padding-left: 50px;
  }

  .main-banner_wrapper {
    display: flex;
    flex-direction: row;
  }

  .main-banner-container__center {
    flex-direction: column;
    height: unset;
    grid-template-columns: unset;
    padding: 0;
    margin: 0;
  }

  .fullwidth-container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: initial;
    padding: 0;
    widtH: unset;
  }

  .container {
    width:95%;
    max-width: 100%;
    padding-left:0px;
    padding-right:0px;
        margin: 60px 0px 0px 10px;
  }

  .container_flex {
    flex-wrap: wrap;
  }

  .main-banner__img {
    width: 50%;
    padding: 0;
  }

  .main-banner__img img {
    display: none;
  }


  .main-banner__show_background {}

  .main-banner__flowtext-container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: initial;
    padding: 0;
    width: unset;
    overflow: hidden;
    position: unset;
    transform: unset;
  }

  .main-banner__flowtext {
    animation: flowtext 30s infinite linear;
    width: 1900px;
    position: relative;
    top: 7px;
    font-family: 'Montserrat';
    color: #1F66C2;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

.content{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top:16px;
}
  .m-active {
    width: 32px;
    height: 32px;
    background-image: url('/wp-content/themes/artfactor/images/mobile-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2px;
  }

  .mobile__menu {
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    z-index: 10;
    transition: right 0.3s ease-in;
    position: absolute;
    height: 0;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
  }

  .mobile__menu .nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 100%;
    padding: 20px;
    position: relative;
  }

  .m-menu {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 10;
    background: white;
  }

  .m-menu li {
    border-right: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 5%);
    width: 100%;
    height: 57px;
    background: white;
    position: relative;
  }

  .menu-item a:hover {
    text-align: left;
    margin: 0px auto;
    width: 100%;
  }


.menu-arrow {
 display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu-arrow svg{
      width: 42px;
    height: 42px;
   
}


.nav-menu li > a:only-child:after {
    content: '';
}
  .sub-menu {
    left: 0;
    top: 57px;
    width: 100%;
  }

  .sub-menu li {
    border-right: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 5%);
    width: 100%;
    height: 57px;
    background: white;
    padding-left: 40px;
  }


  .page__title{
    align-self: flex-start;
  }

  .footer__wrapper {
    display: flex;
  }

  #cantstop .page__content{
        width: 80%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }


  .youtube_video{
        background-position: center;
    background-size: contain;
  }

  
  .footer__wrapper{
    flex-direction: column;
    padding-left:0px;
  }

  .footer__menu{
      grid-template-columns: 3fr 2fr 2fr  !important;
  }
  .footer__half{
    width: 100%;
  }

  .footer__links ul{
    padding-left:0;
  }

  footer{
        background-position: 1% 10%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer__madeby{
    padding-left:20px;
  }

  .contact__form{
    margin-bottom: 80px;
  }


}





/**** END 768 */










@media screen and (min-width:769px) {

  .main-banner__img {
    background-image: unset !important;
  }

}


@media screen and (min-width:320px) and (max-width:767px) {

  .header__logo {
    position: relative;
    position: relative;
    height: 100px;
    width: 100%;
  }

  .header__logo a img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
  }

  .header__container{
    padding-top:0px;
    margin-top:0px;
  }

  .header__companyname {
    display: none;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }


  .__withsub:after {
color: #474858;
    content: '';
  
}


  .directions__panes {
    width: 80%;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .directions__pane {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 204px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    text-decoration: none;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in;
    justify-content: center;
    align-items: center;
  }

  .mobile__menu {
    width: 100%;
    background: white;
  }

  .mobile__menu .nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 100%;
    padding: 20px;
  }

  .main-banner__text {
    padding-top: 20px;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
  }

  .main-banner__img {
    background-repeat: no-repeat;
    background-position: right;
    min-height: 370px;
    width: 100%;
    height: 370px;
  }

  .page__h2 {
    word-wrap: break-word;
  }


  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
        
  }

 .about-us__content,
  .mission__content,
  .directions {
    padding-left: 10px;
    padding-right: 10px;
    width: 88%;

    margin:0 auto;
  }


  
  .page__content{
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:40px;
    width:99%;
  }

  .blockquote{
    padding: 65px !important;

  }
  .blockquote,.redquotes{
    text-indent: 50px;
        background-position: 10px 100px;
  }

  .redquotes::before{
    margin-left:0;
  }

  
  
  .donate{
    flex-direction: column;
  }

  .left__column{
    align-items: center;
  }

  .table{width:90%;}

  .table__row{
        display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .table__cell{
    text-align: center;
  }

  .table__row .table__cell:first-child{
    text-align: center;

  }
  .table__row .table__cell:last-child{
    text-align: center;
  }

  .page__documentslist li{
    padding: 13px 2px 15px 70px;
    width:90%;
  }

  #cantstop .page__content{
        width: 80%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }

    .youtube_video{
        background-position: center;
    background-size: contain;
  }
  .footer__wrapper{
    flex-direction: column;
  }

    .footer__menu{
      grid-template-columns: 1fr !important;
  }

  .footer__madeby{
    padding-left:20px;
  }

  
.m_pl-0{
  padding-left:0px;
}

.contact__form{
  width:55%;
  padding:7px;
}
.form__group{
flex-direction: column;
padding-left:0px;
margin-left:0px;
}

.form__group input[type="text"]{
  width:100%;
  padding-left:0;
}

}