@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserat', sans-serif;
    color: #434A4A;
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
    overflow-x: hidden;
    position: relative;
}
html{
  margin: 0;
}
img {
  max-width: 100%;
}

section{
  padding:0;
  margin:0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.hidden
{
  display: none !important;
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: initial;
    height:auto;
    
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
      gap: 10%;
}

.fullwidth-container {
  max-width: 100%;
  width:100%;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: initial;
}

.fullwidth-container_blue
{
  background-color: #1768C1;
}

.button {
  padding: 18px 22px;
  font-weight: 700;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
color: #FFFFFF;
background: #EE6161;
border-radius: 6px;
border: none;
transition: 'background 0.3s ease';
display: inline-block;
}
.button:hover {
  background: #44606B;
}
.button.button--grey {
  background: #44606B;
}
.button.button--grey:hover {
  background: #EE6161;
}

.header__container{
  padding: 7px 0px 0px 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__companyname
{
  width:50%;
  text-align: center;
}

.header__text{
  max-width:505px;
  display: block;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-top:10px;
}

.header__text_muted{
  color:#A6A7BD;
  max-width:506px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}


.header__button {
      width: 243px;
    margin-left: 7%;
}
.header__address {
  
}
.header__phone {

}

.header__address span,
.header__phone a {
  display: block;
  font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #44606B;
}
.header__phone a{
  font-weight: bold;
  margin-bottom: 12px;
}
.header__time {
  text-align: center;
font-size: 14px;
line-height: 100%;
margin-bottom: 12px;
color: #44606B;
}
.header__bottom {
  padding: 0;
  background: #fff;
  box-shadow: 0px -3px 4px 1px rgba(0,0,0,0.1);
}
.header__contact {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.header__contact a {
    margin-right: 10px;
    height: 24px;
}

.header__close
{
  display: none;;
}



.nav-menu{
  display: flex;
  align-items: center;
  height:50px;
  margin-top:14px;
}

.list-reset,
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


.main-banner
{
 /* background-image:url('/wp-content/themes/artfactor/images/main_banner.png');
  background-repeat: no-repeat;
  background-position: 1048px 0%;
  background-size: contain;*/
  
}

.main-banner-container__center{
  flex-direction: column;
  justify-content: center;
  height:550px;
}

.main-banner__img
{
  width:500px;
  z-index:4;
}
.main-banner__img img{
  max-width: unset;
}

.main-title {
 font-weight: 700;
font-size: 36px;
line-height: 100%;
text-align: center;
color: #44606B;
margin-bottom: 52px;
}


.main-banner__text
{
  font-family: Oswald;
  font-size: 55px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 760px;
  color: #fff;
}

.main-banner_wrapper
{
  width:600px;
}

.main-banner__flowtext-container::before{
  content:'';
  height:30px;
  background: #DBE8FF;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width:1800px;
transform: translateX(-470px);
position: relative;
  top: 71px;
  display: block;
  
}

.main-banner__flowtext{
  animation: flowtext 30s infinite linear;
  width:1900px;
  top: 40px;
    position: relative;
}

.menu ul {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top:10px;
  gap:30px;
  list-style: none;
}

.menu ul li{
      border-right: 1px solid black;
        padding-right: 20px;
      
}

.page_item a{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-align: right;
  text-transform: uppercase;
  color: #474858;
  display: block;
  background: transparent;
  transition: all 0.3s;
}

.menu>li>a:hover,
.menu>li.current-menu-item>a {
  background: #657E88;
}



footer{
  background-color: #0D2E52;
  width:100%;
  height:417px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-content{

}

.footer-content ul{
  list-style: none;
}

.footer-clip{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      z-index:1;
}

.footer-clip__clip1::before{
  content:'';
  display: block;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 35% 100%, 70% 0);
  clip-path: polygon(100% 0%, 100% 100%, 35% 100%, 70% 0);
  background-color: #194576;
  width: 716px;
  height:421px;
  margin-left:-616px;
}

.footer-clip__clip2::before{
  display: block;
  content:'';
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #11355C;
    width:531px;
    height:260px;
}


.about-us,.mission{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top:50px;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom: 50px;
  border-bottom:2px solid #474858;
  gap:53px;
  padding:54px 0px 97px 0px;

}


.directions{
  display: grid;
  grid-template-columns: 1fr;
    margin-top: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 2px solid #474858;
}
.directions__title{
  text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.01em;
}


.directions__panes{
  width:890px;
  margin:0px auto;
  padding-top:50px;
  display: grid;
  margin-top:20px;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr 3fr;
  gap:32px;
}

.directions__pane{
  display: flex;
  flex-direction: column;
 width: 468px;
 height:204px;
 border-radius: 8px;
 box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
 text-decoration: none;
cursor:pointer;
border:0px;
transition: all 0.2s ease-in;
justify-content: center;
align-items: center;
}

.directions__text{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color:#474858;
}

.directions__pane:hover{
  box-shadow: 0px 0px 1px 1px #FF3C00;
}

.about-us__title,.mission__title{
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}


.about-us__h1,.mission__h1{
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: left;
}


.about-us__text,.mission__text{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0px 0px 11px;
    margin-left: -10px;
}


footer .company{
  font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    width:100%;
}

.footer__info{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}



.page{
  padding-left: 73px;
  min-height:536px;
  grid-template-columns: 1fr 4fr;
    align-items: unset;
    margin-top: 155px;
}

.page__title{
    font-family: Oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: left;
}

.page__content{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#474858;
}

.page__leftimg{
padding-top:30px;
}

.page__h2{
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

@keyframes flowtext {
  0% {
    transform: translate(50%, 0);
  }

  100% {
    transform: translate(-160%, 0);
  }
}



@media screen and (max-width:768px)
{

  .about-us,.mission,.page{
    grid-template-columns: 1fr;
  }

.container_grid{
  gap:2%;
}

  .page {
    padding-left:20px;
  }

  .about-us__title,.about-us__text,.mission__title,.mission__text{
    padding-top:30px;
    padding-bottom:30px;
  }

}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-leave-to {
  opacity: 0;
}

/* Fade in the next container */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.3s linear;
}

.fade-enter-to {
  opacity: 1;
}